body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.side {
  width: 100vw;
  height: 70px;
  background-color: blueviolet;
  color: rgb(220, 210, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background-color: rgb(214, 144, 220);
  display: flex;
  font-weight: bolder;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.badge {
  width: 90vw;
  background-color: white;
  margin-left: 4vw;
  margin-bottom: 50px;
  border-radius: 5px;
  text-align: start;
  cursor: pointer;
}
.badge:hover {
  background-color: rgb(155, 72, 233);
  color: rgb(211, 146, 236);
}
.plat {
  text-align: center;
  width: 100vw;

  color: rgb(17, 16, 17);
}
th,
td {
  padding: 25px;
  border: 4px solid rgb(66, 6, 112);
}
table {
  border: 3px solid rgb(147, 20, 202);
  height: 100px;
}
.table-context {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(14, 14, 13);
  background-color: rgb(158, 129, 185);
}
a {
  text-decoration: none;
}
.logo {
  height: 210px;
}

button {
  height: 50px;
}

button {
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(225, 65, 177);
  height: 55px;
  font-family: "Times New Roman", Times, serif;
}
button:hover {
  background-color: rgb(162, 13, 150);
  color: white;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cname {
  color: rgb(117, 16, 160);
  margin-right: 30px;
}
.contest-name {
  display: flex;
  align-items: center;
  color: rgb(56, 53, 53);
  font-weight: bolder;
}
.sub-content {
  margin-left: 70px;
}
